.carousel-item {
    background-color: #f8c2c2;
    padding: 20px;
}
.card-body {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
}
.card-text {
    align-items: center;
}

:root {
    --main-color: fff;
    --primary-color: rgb(234, 93, 128);
}

body {
    max-width: 1920px;
    margin: 50px 100px;
    /* шрифт для текста */
    font-family: "Jost", sans-serif;
}

h1 {
    /* шрифт для заголовков */
    font-family: "Playfair Display", serif;
    text-align: center;
}

.toggle-box {
    display: none;
}

.toggle-box + label {
    display: block;
}

.toggle-box + label + ul {
    display: none;
}

.toggle-box:checked + label + ul {
    display: block;
}

.main__module-content {
    list-style-type: none;
}

.main__module-content_project {
    color: var(--primary-color);
}

dialog {
    margin: 10px;
    background: rgb(234, 93, 128);
    border: none;
    border-radius: 1rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: #fff;
    color: rgb(115, 8, 35);
    max-width: 800px;
}

.box {
    background-color: rgb(234, 93, 128);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

/* Смена картинки при наведении */
.diamonds__cards .cards__img_active {
    display: none;
}

.diamonds__cards:hover {
    background-color: var(--primary-color);
    /* background-color: pink; */

    cursor: pointer;

    .cards__wr-title {
        color: #ffffff;
    }

    .cards__img {
        display: none;
    }

    .cards__img_active {
        display: inline;
    }
}
/* Смена картинки при наведении -end- */
