:root {
  --main-color: fff;
  --text-color: #000;
  --primary-color: rgb(234, 93, 128);
}

body {
  max-width: 1920px;
  margin: 50px 100px;
  /* шрифт для текста */
  font-family: 'Jost', sans-serif;
}

h1 {
  /* шрифт для заголовков */
  font-family: 'Playfair Display', serif;
}

.toggle-box {
  display: none;
}

.toggle-box+label {
  display: block;
}

.toggle-box+label+ul {
  display: none;
}

.toggle-box:checked+label+ul {
  display: block;
}

.main__module {
  cursor: pointer;
  font-weight: 600;
  font-size: larger;
}

.toggle-box:checked+.main__module {
  color: var(--primary-color);
}

.main__module-content {
  list-style-type: none;

}

.main__module-content_unit_title {
  text-decoration: none;
  color: var(--text-color);
}

.main__module-content_unit_title-bold {
  font-weight: bolder;
}

.main__module-content_project_title {
  color: var(--primary-color);
  font-weight: bolder;
}

dialog {
  margin: 10px;
  background: rgb(218, 134, 202);
  border: none;
  border-radius: 1rem;
}